<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.first.user.aclass">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Count_CounterActivity" />
        <activity android:name=".OrderCheckActivity" />
        <activity android:name=".StartActivity" />
        <activity android:name=".TargetActivity" />
        <activity android:name=".ManagementActivity" />
        <activity android:name=".Mangement2Activity" />
        <activity android:name=".SignUpExamActivity" />
        <activity android:name=".SignUpExam2Activity" />
        <activity android:name=".GanjiActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ganji2Activity" />
        <activity android:name=".WebBrowserActivity" />
        <activity
            android:name=".MemoExamActivity"
            android:label="@string/title_activity_memo_exam"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TagetMemoActivity" />
        <activity android:name=".ColorListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NumBerActivity"
            android:label="@string/title_activity_num_ber"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>